{% extends 'basic.html' %}
{% block title %}about
{% endblock title %}
{% block body %}
       <!-- About Start -->
       <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="/static/img/about.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-4">#1 Place To Find The Perfect Property</h1>
                    <p class="mb-4">Real estate is considered real property that includes land and anything permanently attached to it or built on it, whether natural or man-made.
                        There are five main categories of real estate which include residential, commercial, industrial, raw land, and special use.
                        </p>
                    <p><i class="fa fa-check text-primary me-3"></i>Indirect investment in real estate can be made via REITs or through pooled real estate investment.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Investing in real estate includes purchasing a home, rental property, or land.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Real estate encompasses the land, plus any permanent man-made additions, such as houses and other buildings.</p>
                    <a class="btn btn-primary py-3 px-5 mt-3" href="/">Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock body %}