{% extends 'basic.html' %}
{% block title %}Property
{% endblock title %}
{% block body %}
{% block content %}
<section>

    <!--Fetched reults appear here-->
    <div class="container-fluid px-0 mx-aut">
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-0 gx-5 align-items-end">
                    <div class="col-lg-6">
                        <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                            <h1 class="mb-3 text-primary">HR51 Properties</h1>
                          
                        </div>
                    </div>
                    <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                        <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                            {% for cat in categories %}
                            <li class="nav-item me-2">
                                <a class="outline-primary"  href="http://127.0.0.1:8000/property/" style="text-decoration: none;">{{cat.location}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-5">
                        {% for r in posts %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href="/propertydetails/{{r.url}}"><img class="img-fluid w-100 "
                                            style="height: 250px; object-fit: fill;" src="/media/{{r.image}}"
                                            alt="Loading...">
                                    </a>
                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-2"
                                        style="text-transform: capitalize;">
                                        {{r.get_prop_status_display}}</div>
                                    <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3"
                                        style="text-transform: capitalize;">
                                        {{ r.get_room_type_display }}</div>
                                </div>
                                <div class="p-2 pb-0 pt-2">
                                    <a class="d-block" href="/user/book-room?roomid={{r.id}}"
                                        style="text-decoration: none;">
                                        <i class="fa fa-industry">
                                        </i>
                                        {{r.get_prop_type_display}}
                                    </a>
                                    <p class="mb-0">
                                        <i class="fa fa-university text-primary">
                                        </i>
                                        INR {{ r.price }}
                                    </p>
                                    <p><i class="fa fa-map-marker-alt text-primary">
                                        </i>
                                        {{ r.address }}
                                    </p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i
                                            class="fa fa-ruler-combined text-primary me-2"></i>{{ r.size }}
                                        sqft.</small>
                                    <small class="flex-fill text-center border-end py-2"><i
                                            class="fa fa-podcast text-primary me-2"></i>{{r.facing}}</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bed text-primary me-2"
                                            aria-hidden="true"></i>{{r.property_bhk}} BHK</small>
                                    <small class="flex-fill text-center py-2"><a
                                            class="fa fa-phone-square text-primary me-2" aria-hidden="true"
                                            href="/user/book-room?roomid={{r.id}}">
                                        </a>
                                        Book
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            </div>
        </div>


    </div>
    <!--Fetched results ends here-->
</section>

{% endblock content %}
{% endblock body %}