{% extends 'basic.html' %}
{% block title %}
Contact Us
{% endblock title %}
{% block css %}
<link href="/static/css/contact.css" rel="stylesheet">
{% endblock css %}
{% block body %}
<!--Section: Contact v.2-->
    <div class="form-area">
        <div class="container">
            <div class="row single-form g-0">
                <div class="col-sm-12 col-lg-6">
                    <div class="left bg-primary">
                        <h4>
                            <span>
                                Our mailing address: 
                                <br>
                                Plot 211, Sector-31, Omaxe 
                                Faridabad – 122001
                                Haryana, India
                                <br>
                                <br>
                            </span>
                            
                            <span>
                                In case of any queries:
                                <br>
                                +91-7210240140
                                support@hr51properties.com
                            </span> 
                        </h4>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="right">
                       <i class="fa fa-caret-left"></i>
            {% csrf_token %}
            <form id="contact-form" name="contact-form" action="" method="POST">
            {% csrf_token %}
                          <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Your Name</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" id="name" name="name" value="{{request.user}}">
                          </div>
                          <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Email Address</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" id="email" name="email" value="{{request.user.email}}">
                          </div>
                          <div class="mb-2">
                            <label for="exampleInputEmail1" class="form-label">Contact Number</label>
                            <input type="number" class="form-control" aria-describedby="emailHelp" id="phoneno" name="phoneno">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Message</label>
                              <textarea type="text" class="form-control" id="content" name="content"></textarea>
                          </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}